@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: azure;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.5;
  }
  
  html {
      box-sizing: border-box;
      justify-content: center;
    font-size: 16px;
  }

  .container{
      justify-content: center;
  }

  .card1 {
      
      background: palevioletred;
      height:300px;
      width:370px; 
      margin: 10px;
      border-radius: 15px;  
  }

  .card2 {
    background: palegreen;
    height:300px;
    width:370px; 
    margin: 10px;
    border-radius: 15px;  
}

.btn{
    border: blanchedalmond;
    background-color:whitesmoke;
    
}